.SearchForm-SearchInput {
  border: 5px solid grey;
  border-radius: 20px;
  width: 200px;
  height: 30px;
}
.SearchForm-SearchButton {
  border: 5px solid royalblue;
  background-color: royalblue;
  border-radius: 20px;
  height: 40px;
  width: 80px;
  color: white;
}
